<div class="hero min-h-screen" style="background-image: url('./assets/mujeres/manifestacion-8m.jpg');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Feminismo sordo</h1>
      <p class="mb-5">en lenguas de signos españolas</p>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Seis temas</h1>
      <p class="py-6">En lectura fácil y en lengua de signos.</p>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content flex-col lg:flex-row-reverse gap-10">
    <img src="./assets/mujeres/clara-campoamor.jpg" class="h-80 mask mask-squircle"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Historia</h1>
      <p class="py-6">Contamos los momentos y personas que defendieron, lucharon y aportaron por y para las mujeres</p>
      <button class="btn btn-primary btn-outline" [routerLink]="['/historia']">¡Descubrir!</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content flex-col lg:flex-row gap-10">
    <img src="./assets/mujeres/conceptos-2.jpg" class="h-80 mask mask-squircle"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Conceptos</h1>
      <p class="py-6">Glosario de conceptos relacionados al feminismo, en Lenguas de Signos Españolas y en lectura
        fácil.</p>
      <button class="btn btn-primary btn-outline" [routerLink]="['/conceptos']">¡Quiero aprender!</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content flex-col lg:flex-row-reverse gap-10">
    <img src="./assets/mujeres/violencia-2.jpg" class="h-80 w-60 mask mask-squircle"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Violencia</h1>
      <p class="py-6">Tipos de violencia conocidas y no tan conocidas.</p>
      <button class="btn btn-primary btn-outline" [routerLink]="['/violencia']">¡Ir a la pagina!</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content flex-col lg:flex-row gap-10">
    <img src="./assets/mujeres/recursos.jpg" class="h-60 w-60 mask mask-squircle"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Recursos</h1>
      <p class="py-6">Libros, series, películas y muchos recursos más.</p>
      <button class="btn btn-primary btn-outline" [routerLink]="['/recursos']">¡Quiero conocerlos!</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 border-b">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Proyectos</h1>
      <p class="py-6">Actividades, retos, encuentros dentro de la comunidad sorda</p>
    </div>
  </div>
</div>
