<div class="hero min-h-screen" style="background-image: url('/assets/mujeres/manifestacion-8m.jpg');">
  <!--<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">-->
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Feminismo sordo</h1>
      <p class="mb-5">en lenguas de signos españolas</p>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Seis temas</h1>
      <p class="py-6">Todo en lectura fácil y en lengua de signos accesible para todos</p>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="overflow-x-auto">
      <table class="table">
        <tbody>
        <tr>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="card w-96 bg-primary text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                  <button class="btn">Buy Now</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/assets/mujeres/clara-campoamor.jpg" class="h-80 mask mask-squircle"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Historia</h1>
      <p class="py-6">Contamos los momentos y personas que defendieron, lucharon y aportaron por y para las mujeres</p>
      <button class="btn btn-primary btn-outline">¡Quiero verlo!</button>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/assets/mujeres/conceptos.jpg"
         class="max-w-sm rounded-lg shadow-2xl"/>
    <div class="prose">
      <h1 class="text-5xl font-bold">Conceptos</h1>
      <p class="py-6">Glosario de conceptos relacionados al feminismo, en Lenguas de Signos Españolas y en lectura
        fácil.</p>
      <button class="btn btn-primary btn-outline">¡Quiero aprender!</button>
    </div>
  </div>
</div>
