<div class="page">
  <article class="prose sm:prose-sm md:prose-lg lg:prose-xl pb-12 max-w-full">
    <h2>Recursos</h2>
  </article>

  <div class="hero bg-base-100 flex">
    <div class="card w-96 glass mx-3">
      <figure><img src="assets/imagenes/libros.jpg" alt="car!" /></figure>
      <div class="card-body">
        <h2 class="card-title">Libros</h2>
        <p>Libros de referencia o relacionados al feminismo</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" (click)="navegar('libros')">Ver</button>
        </div>
      </div>
    </div>
    <div class="card w-96 glass mx-3">
      <figure><img src="assets/imagenes/peliculas.jpg" alt="videos" /></figure>
      <div class="card-body">
        <h2 class="card-title">Videos</h2>
        <p>Largometrajes, cortometrajes y/o series</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" (click)="navegar('peliculas')">Ver</button>
        </div>
      </div>
    </div>
    <div class="card w-96 glass mx-3">
      <figure><img src="assets/imagenes/redes.jpg" alt="redes sociales" /></figure>
      <div class="card-body">
        <h2 class="card-title">Redes sociales</h2>
        <p>Personas o perfiles referentes del movimiento social feminismo</p>
        <div class="card-actions justify-end">
             <button class="btn btn-primary" (click)="navegar('redes')">Ver</button>
         </div>
      </div>
    </div>
  </div>
</div>
