<div class="mx-12">
  <article class="prose sm:prose-sm md:prose-lg lg:prose-xl pb-5 max-w-full">
    <h2>Recursos</h2>
    <p>Todo </p>
  </article>

  <div class="hero min-h-screen bg-base-100">
    <!--<table class="table">
      <tbody>
      <tr>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center align-middle">
              <img width="100" height="100" src="assets/logos/netflix-logo.png"/>
            </div>
          </div>
        </td>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Proyecto 2</h2>
            </div>
          </div>
        </td>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Proyecto 3</h2>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Proyecto 4</h2>
            </div>
          </div>
        </td>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Proyecto 5</h2>
            </div>
          </div>
        </td>
        <td>
          <div class="card h-40 bg-base-100 border shadow-xl">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Proyecto 6</h2>
            </div>
          </div>
        </td>
      </tr>

      </tbody>
    </table>-->
  </div>
</div>
