<div class="mx-12">
  <article class="prose sm:prose-sm md:prose-lg lg:prose-xl pb-5 max-w-full">
    <h2>Conceptos</h2>
    <p class="border-l-2 pl-5 italic">Para comprender mejor el feminismo</p>
  </article>

  <article class="prose">
    <h3>SEXISMO <img class="inline m-0 hover:cursor-pointer" onclick="my_modal_2.showModal()" height="25" width="25" src="/assets/iconos/youtube.svg"/></h3>
    <p>
      El sexismo es pensar que las personas tienen habilidades y capacidades diferentes por ser hombres o mujeres.
    </p>
  </article>
  <div class="divider"></div>
  <article class="prose">
    <h3>MACHISMO <img class="inline m-0 hover:cursor-pointer" onclick="my_modal_2.showModal()" height="25" width="25" src="/assets/iconos/youtube.svg"/></h3>
    <p>
      El machismo es una forma de entender el mundo que piensa que los hombres son superiores y mejores que las mujeres.
    </p>
  </article>
  <div class="divider"></div>

  <article class="prose">
    <h3>PATRIARCADO <img class="inline m-0 hover:cursor-pointer" onclick="my_modal_2.showModal()" height="25" width="25" src="/assets/iconos/youtube.svg"/></h3>
    <p>
      El patriarcado es una forma de organización política y social que da ventajas a los hombres y no permite a las mujeres decidir sobre sus vidas.
    </p>
  </article>

  <div class="divider"></div>

  <article class="prose">
    <h3>GÉNERO <img class="inline m-0 hover:cursor-pointer" onclick="my_modal_2.showModal()" height="25" width="25" src="/assets/iconos/youtube.svg"/></h3>
    <p>
      El género es la idea de mujer y de hombre que crea nuestra sociedad y cultura. Es lo que la sociedad dice que una mujer debe ser y lo que no debe ser.
    </p>
  </article>

  <div class="divider"></div>

  <article class="prose">
    <h3>MISOGINIA <img class="inline m-0 hover:cursor-pointer" onclick="my_modal_2.showModal()" height="25" width="25" src="/assets/iconos/youtube.svg"/></h3>
    <p>
      Odio y rechazo hacia las mujeres y las expresiones de lo considerado “femenino.
    </p>
  </article>


</div>
